.env
.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
.GEDEvent_v25_1.csv

# Dados gerados (mantenha amostras pequenas se necessário)
dados/raw/*
dados/processed/*
dados/models/*
!dados/raw/.gitkeep
!dados/processed/.gitkeep
!dados/models/.gitkeep

*.log
.DS_Store
Thumbs.db
